.container{
    color: white;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
  }

input{
    color: #000;
}

::ng-deep .mat-form-field-infix{
    border-top: 1em solid transparent !important;
}

.shortenedUrl{
    background-color: white;
    color: #000;
    border-radius: 5px;
}